<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmallLoving.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0411242C1C9D3FD7001B7DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041124451C9D3FD8001B7DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041124501C9D3FD8001B7DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
