<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>game.png</string>
			<key>title</key>
			<string>情侣版2048</string>
			<key>smstitle</key>
			<string>相濡以沫,人生不过如此</string>
			<key>url</key>
			<string>http://games.xiaoenai.com/h5_game/2048/index.html</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>lovebird.png</string>
			<key>title</key>
			<string>爱情鸟</string>
			<key>smstitle</key>
			<string>在天愿作比翼鸟</string>
			<key>url</key>
			<string>http://games.xiaoenai.com/h5_game/lovebird/index.html</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bier</string>
			<key>title</key>
			<string>飞翔的比尔</string>
			<key>smstitle</key>
			<string>让我们的带着梦想一起飞翔</string>
			<key>url</key>
			<string>http://bookor.59600.com/games/8696634/#!OTCE9CFE37AA6F99390DB92ACCB7367EC2B1C4C49AABE68FB62055A5DBE5D8B0D3</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>fooldog.png</string>
			<key>title</key>
			<string>跳跳狗之丛林大冒险</string>
			<key>smstitle</key>
			<string>小狗跳跳跳</string>
			<key>url</key>
			<string>http://bookor.59600.com/games/8696188/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>cutfruit.png</string>
			<key>title</key>
			<string>切水果</string>
			<key>smstitle</key>
			<string>谁赢谁请吃饭</string>
			<key>url</key>
			<string>http://bookor.59600.com/games/8696626/#!OTCE9CFE37AA6F99390DB92ACCB7367EC2B1C4C49AABE68FB62055A5DBE5D8B0D3</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>hero.png</string>
			<key>title</key>
			<string>英雄联盟</string>
			<key>smstitle</key>
			<string>我是英雄,你是王者</string>
			<key>url</key>
			<string>http://bookor.59600.com/games/8696351/#!OTCE9CFE37AA6F99390DB92ACCB7367EC2B1C4C49AABE68FB62055A5DBE5D8B0D3</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>food.png</string>
			<key>title</key>
			<string>美食专家</string>
			<key>smstitle</key>
			<string>让我征服你的味蕾</string>
			<key>url</key>
			<string>http://bookor.59600.com/games/8696749/</string>
		</dict>
	</array>
</array>
</plist>
