<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>vcClass</key>
			<string>SHSweetSpaceController</string>
			<key>title</key>
			<string>情侣说</string>
			<key>icon</key>
			<string>discovery-forum-icon</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>discovery-game-icon</string>
			<key>title</key>
			<string>情侣游戏</string>
			<key>vcClass</key>
			<string>SHSweetGameController</string>
		</dict>
	</array>
</array>
</plist>
